<div class="jumbotron home-jumbotron d-flex flex-column align-items-center justify-content-center text-white">
  <h1 class="display-4">WELCOME WARRIOR !!!</h1>
  <p class="lead">Only the best belongs here.</p>
  <p class="lead">Hope you have what it takes to survive</p>
  <%= link_to "New Game", new_game_path, class:"btn btn-primary btn-lg text-white"  %>
</div>
