<div class="d-flex flex-column align-items-center py-3">
  <h1 class="text-primary mb-5">
    Games
  </h1>
  <div class="d-flex flex-wrap justify-content-between">
    <% @games.each do |game| %>
        <%= link_to  game_path(game) do %>
          <%= render 'game-card', game: game %>
        <% end %>
    <% end %>
  </div>
  <%= link_to 'New Game', new_game_path, class: "btn btn-primary btn-lg mt-5 text-white" %>
</div>
