<div class="card w-25 bg-secondary m-2">
  <img class="card-img-top" src=<%= asset_path("warhammer.png") %> alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-primary font-weight-bold"><%= character.name %></h5>
    <p class="card-text">
      Life Points :
      <span class="text-primary font-weight-bold"><%= character.life_points %></span>
    </p>
    <p class="card-text">
      Attack Points :
      <span class="text-primary font-weight-bold"><%= character.attack_points %></span>
    </p>
  </div>
</div>
