<div class="container d-flex flex-column align-items-center py-3">
  <h1 class="text-primary mb-5">
    Characters
  </h1>
  <div class="d-flex flex-wrap justify-content-center">
    <% @characters.each do |character| %>
      <%= render 'character-card', character: character %>
    <% end %>
  </div>
  <%= link_to 'New Character', new_character_path, class: "btn btn-primary btn-lg mt-5 text-white" %>
</div>
