<div class="container d-flex flex-column justify-content-center align-items-center py-5">
  <h1 class="text-primary font-weight-bold">Valhalla Ludus</h1>
  <p>Here you can hire your own <span class="text-primary font-weight-bold">warrior</span>, just tell us some informations about it...</p>
  <%= render 'form', character: @character %>
  <%= link_to 'Back', characters_path, class:"btn btn-secondary text-white mt-3" %>
</div>
