
<div class="d-flex flex-column justify-content-center align-items-center py-5">
  <div class="d-flex flex-wrap justify-content-center">
    <%= render 'character-card', character: @character %>
  </div>
  <%= link_to "All Characters", characters_path, class: "btn btn-primary text-white mt-3" %>
</div>
